/*global*/
.one, .two, .three, .four, .ill {
    display: flex;
    padding: 8px;
}

.two, .three {
    flex-direction: column;
}

.ill {
    flex-direction: row;
}

/* header */
.top {
    display:flex;
    justify-content: space-around;
    padding: 6px;
}
.header.content {
    display: flex;
    justify-content: space-around;
}

header, footer, .one {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin: 16px 0px;
}
.links, .secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.links {
display: flex;
gap: 6px;
}

li {
    margin: 6px 12px;
}
/* section 1 */
.one{
    flex-flow: row wrap;
    justify-content: space-around;
}
.main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

img {
    justify-content: center;
    align-items: flex-end;
    margin: 16px;
    background-color: #71797e;
    color: #f9faf8;
    text-align: center;
}

p {
    max-width: 450px;
    max-height: fit-content;
    margin-left: auto;
}

/* section 2 */
.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 12px;
    margin-bottom: 32px;
}
.img {
    height: 150px;
    weight: 150px;
    margin: 32px;
    flex: 1 1 150px;
}

.two {
    align-items: center;
    text-align: center;
}
.ill {
    justify-content: center;
    align-items: center;
}

/* Section 3 */
.three {
    background-color: #E5E7EB;
    padding: 24px;
}

.quote {
    font-style: light italic;
    font-size: 36px;
    color: #1f2937;
}
.author {
    align-self: flex-end;
    margin-right: 24px;
}

/* Section 4 */

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    text-align: center;
    height: 32px;
    width: auto;
}